@using OutlookInspired.Module.BusinessObjects
@using OutlookInspired.Module.Services.Internal
@typeparam TObject
@typeparam TArgument
@typeparam TValue
@typeparam TName

<DxChart Data="@ComponentModel.Data" Width="100%" Rotated="true" Height="@ComponentModel.Height" CustomizeSeriesPoint="CustomizeSeriesPoint">
    <DxChartCommonSeries T="TObject" TValue="TValue" TGroup="TName" TArgument="TArgument" 
        ArgumentField="@ComponentModel.ArgumentField" ValueField="@ComponentModel.ValueField" 
        SeriesType="ChartSeriesType.Bar" SummaryMethod="@(values => values.DynamicSum())" NameField="@ComponentModel.NameField"/>
    <DxChartLegend Visible="false"/>
    <DxChartTooltip Enabled="true" Position="RelativePosition.Outside">
        <div style="background-color: #505050;color: white">
            @context.Point.SeriesName: @($"{(decimal)context.Point.Value:$0,.#K}")
        </div>
    </DxChartTooltip>
</DxChart>
@code {
    [Parameter]
    public ChartModel<TObject,TArgument,TValue,TName,XafChart<TObject,TArgument,TValue,TName>> ComponentModel { get; set; }
    

    private static void CustomizeSeriesPoint(ChartSeriesPointCustomizationSettings obj) 
        => obj.PointAppearance.Color = obj.Point.DataItems.Cast<MapItem>().First().Color.ColorFromHex();

}
